.process {
    background-color: #FCF7F8;

    .custom-margin {
        padding-top: 80px !important;
        margin-top: 0 !important;

        .nav-link {
            display: flex;
            gap: 10px;
            color: black;
            flex-shrink: 1;

            .number {
                border: 1px solid black;
                border-radius: 50%;
                width: 28px;
                height: 28px;
                color: #161811;
                font-family: Open Sans;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            span {
                font-family: Open Sans;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-align: start;
            }
        }
    }

    .tab-content {
        width: 75% !important;

        .process-content {
            display: flex;
            flex-direction: row;
            gap: 10px;

            .process-content-title {
                background-color: white;
                border-radius: 8px;
                width: 35% !important;
                padding: 30px !important;

                .text-document-content {
                    .progress {
                        --bs-progress-height: 4px !important;
                        margin: 26px 0 !important;
                        position: relative;
                        overflow: visible;

                        .progress-bar-words {
                            position: absolute;
                            top: -27px;
                            right: 0;
                            color: #696969;
                            font-family: Open Sans;
                            font-size: 14px;
                            font-weight: 600;
                        }

                    }

                    figure {
                        background-color: #e5f4f9;
                        margin: 0 !important;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 8px;

                        img {
                            width: 210px !important;
                            height: 160px !important;
                        }

                    }
                }
            }

            .process-content-description {
                padding: 30px !important;
                width: 65% !important;

                .text-document-content {
                    figure {
                        height: 80px;
                        width: 80px;
                        border-radius: 50%;
                        @include flex-center;
                        border: 1px solid #696969;
                        padding: 12px 0 !important;

                        img {
                            height: 40px;
                            width: 40px;
                        }
                    }
                }
            }
        }
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: black !important;
        background-color: #FCF7F8 !important;
    }
}