.service {
  .service-box {
    border: 2px solid #036;
    padding: 12px;
    position: sticky;
    top: 160px;
    .service-box-title {
      background: #036;
      color: #eff1ed;
      font-family: Oswald;
      font-size: 21px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
      padding: 8px 6px;
      margin-bottom: 12px;
    }
    .nav-tabs {
      border-bottom: none;
      .nav-item {
        padding-bottom: 10px;
        width: 100%;
        &:last-child {
          padding-bottom: 0px;
        }
        .nav-link {
          width: 100%;
          color: #000;
          font-family: Open Sans;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          padding: 8px 6px;
          text-align: left;
          border-radius: 0px;
          @include space-between;
          &::after {
            content: "\f178";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: $primary-color;
            opacity: 0;
            visibility: 0;
            transition: all 300ms linear;
          }
          &:hover {
            background: #e3e3e3;
            &::after {
              opacity: 1;
              visibility: 1;
            }
          }
        }
        .nav-link.active {
          background: #e3e3e3;
          &::after {
            opacity: 1;
            visibility: 1;
          }
        }
      }
    }
  }
}
